server {
    listen 80;
    server_name localhost;

    location /api/ {
        proxy_pass $API_URL/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # --- CORS ---
        add_header 'Access-Control-Allow-Origin' '*' always;
        add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, PATCH, DELETE, OPTIONS' always;
        add_header 'Access-Control-Allow-Headers' 'Origin, Content-Type, Accept, Authorization' always;
        add_header 'Access-Control-Allow-Credentials' 'true' always;

        # обрабатывать preflight
        if ($request_method = OPTIONS) {
            add_header 'Content-Length' 0;
            add_header 'Content-Type' text/plain;
            return 204;
        }
    }
}
